html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui;
  background: #f9fafb;
  color: #222;
}

#root {
  display: block;
}